.len-modal-container{
    .mask{
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-color: #373737;
        background-color: rgba(55,55,55,.6);
        height: 100%;
        z-index: 1000; 
    }
    .modal-wrap{
        position: fixed;
        width:fit-content;
        top:0;
        left:50%;
        transform:translate(-50%,-50%);
        height:0;
        z-index: 1000;
        .len-modal{
        position: relative;
        top:100px;
        margin: 0 auto;
        background: #fff;
        border-radius:5px;
        .modal-title{
            line-height: 40px;
            height:40px;
            position: relative;
            padding:0 15px;
            border-bottom:1px solid #DEE2E7;
            i{
               position: absolute;
               top:50%;
               right:15px;
               transform:translate(-50%,-50%);
               cursor: pointer;
               border:1px solid #DEE2E7;
               display:inline-block;
               padding: 5px;
            }
        }
        .modal-body{
            min-height: 100px;
            padding:15px;
            border-bottom:1px solid #DEE2E7;
        }
        .modal-footer{
            text-align: right;
            padding: 10px 15px;
            .ant-btn:first-child{
                margin-right: 5px;
            }
        }
    } 
    }
}