{
    "presets": [
        "env",
        "react",
        "stage-0"
    ],
    "plugins": [
        [
            "import",
            {
                "libraryName": "antd",
                "style": true
            },
            "syntax-dynamic-import"
        ],
        "transform-decorators-legacy"
    ]
}