.uploadTest {
  display: flex;
  align-items: center;
  justify-content: space-between;
  .ant-upload-list-text {
    display: none;
  }
  .uploader {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    text-align: center;
    background: #eee;
    border: 1px dashed #666;
    margin: 10px 0;
  }
  .img-wrap {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 10px 0;
    position: relative;
    .icon-wrap {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      transform: translate(-50%, -50%);
      &>div{
          text-align: center;
          width: 100%;
      }
      &::before {
        content: "";
        color: #fff;
        font-size: 20px;
        display: none;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.3);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .anticon-delete {
        position: relative;
      z-index: 2;  
      color: #fff;
      font-size: 20px;
      display: none;
    }
    .anticon-eye {
      position: relative;
      z-index: 2;  
      color: #fff;
      font-size: 20px;
      display: none;
    }
    &:hover .anticon-delete {
      display: inline-flex;
      align-items: center;
      justify-content: center;
    }
    &:hover .anticon-eye {
      display: inline-flex;
    }
    &:hover .icon-wrap::before {
      display: block;
    }
    img {
      width: 100px;
      height: 100px;
    }
  }
}
