<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <button onclick="change()"></button>
    <script type="text/javascript">
      window.onload = function(){
        start()
      }
      var num = 1;
      function start() {
          setInterval(()=>{
            console.log(111,num)
          },1000)
      }
      function change() {
        num = 2;
        console.log(num)
      }
    </script>
</body>
</html>