.by-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99;
}

.by-modal,
.by-modal:before {
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.show-darkModal.by-modal:before {
  background-color: rgba(0, 0, 0, 0.6);
  content: '';
  display: block;
}

.by-modal__container {
  z-index: 99;
}
.by-modal__container.withoutMask{
  position: fixed;
  left: 50%;top: 50%;
  z-index: 0;
  /* margin:0 auto; */
  /* transform: translate(-50%, -50%); */
}